.Main Header {
   display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav{
    display: flex;
    gap: 10px;
}

.Main Logo {
    height: 45px;
    width: 45px;
    background-image: url(https://media.istockphoto.com/id/589461872/id/vektor/bendera-indonesia.jpg?s=1024x1024&w=is&k=20&c=PpON5WP-jF78p65zAoEPY_ZUg0DxX4Jg0OuThAYQJyY=);
    background-size: cover;
}

nav>a {
    border: 1px solid;
    padding: 5px;
    color: black;
    text-decoration: none;
}